mixin sCatalog()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title
				h2 Каталог продукции
				+e.catalog.d-none.d-md-flex.btn-grad.link-modal(href="#modal-call-catalog" data-title="Запросить каталог" data-text="Оставьте заявку на запрос каталога, и мы перезвоним Вам в течении 10&nbsp;минут!" data-btn="Запросить каталог" data-order="Запросить каталог") Запросить каталог
			.row(class="wow fadeInUp "  data-wow-delay=`1s` data-wow-duration=`${dur }s` )
				mixin catalogItem(img,title,text)
					+e.catalogItem.link-modal(href="#modal-call-catalog" data-title="Запросить каталог" data-text="Оставьте заявку на запрос каталога, и мы перезвоним Вам в течении 10&nbsp;минут!" data-btn="Запросить каталог" data-order=`Запросить каталог - ${title}`)
						+pic(`catalog-${img}.png`,'','lazy',0)
						//- img.res-i.lazy(src="#" data-src=`img/@2x/catalog-${img}.png` alt="")
						.h3= title
						p= text
						.h6.text-primary Узнать больше
				.col-md-6.col-xl-4
					+catalogItem('1','Фитинги','Для металлических, металопластиковых и полипропиленовых труб в ассортименте')
				.col-md-6.col-xl-4
					+catalogItem('2','Шаровые краны','В каталоге интернет-магазина вы найдете шаровые краны в разных исполнениях')
				.col-md-6.col-xl-4
					+catalogItem('3','Игольчатые вентили','Изделия находят свое применение в разных отраслях промышленности')
				.col-md-6.col-xl-4
					+catalogItem('4','Газоразрядные рампы','У нас можно выгодно приобрести регулируемые  газоразрядные рампы ')
				.col-md-6.col-xl-4
					+catalogItem('5','Импульсные трубки','Изготовление трубок под заказ, а также в наличии готовые изделия продукции')
				.col-md-6.col-xl-4
					+catalogItem('6','Регуляторы давления','Регуляторы давления для различных узлов закрытого типа трубопровода')

	// end sCatalog